 .link {
    margin-top: -60%;
    margin-bottom: 0px;
 }
 .heading {
     margin-top: -22%;
     margin-bottom: 0%;
 }
 table {
     padding-top: 5em;
     margin-top: -39em;
 }
 .search {
     border: none;
     background-color: rgb(228, 229, 226);
     height: 4em;
     width: 30%;
     border-radius: 0.25em;
     text-align: center;
     padding: 2em;
     margin-top: 2em;
     margin-left: -1.7%;
 }
 